RewriteEngine On
RewriteBase /

# Redirecionar www.vendadeprodutos.pt/backend para www.vendadeprodutos.pt
RewriteCond %{REQUEST_URI} ^/backend
RewriteRule ^(.*)$ http://mydev.privateinfo.com [L,R=301]


# Redirecionamento interno para URLs amigáveis
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^editar$ editarproduto.php [L]
#RewriteRule ^eliminar$ eliminarproduto.php [L]






